body {
  margin: 20px;
  padding: 0;
  background: #333;
}

h1 {
  color: #fff;
}

/* style for parent container which holds all imgs */
.container {
  max-width: 800px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
  padding: 25px;
}

/* fits this img 100% to the width of it's parent container (760px) */
.main-img img,
.imgs img {
  width: 100%;
}

#current {
  margin-bottom: 25px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*repeat columns 4 times at width 1fr*/
  grid-gap: 10px;
}

/* fade in animation
forwards is the fill mode property*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
